<app-header [titulo]="nombre || 'Página de Alertas'"></app-header>

<ion-content>
    <ion-grid> 
<ion-row>
    <ion-col>
    
    <ion-button expand="full" color="secondary" (click)="presentAlert()">
        Mostrando primera alerta

    </ion-button>

    <ion-button expand="full" color="primary" (click)="presentAlertPrompt()">
        Ingrese sus datos

    </ion-button>
    </ion-col>
</ion-row>

<ion-row>
    <ion-col size-lg="3" size-sm="6" size-xs="12">
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Información</ion-card-subtitle>
            <ion-card-title>Académicos</ion-card-title>

        </ion-card-header>
        <ion-img src="./assets/img/paisaje.jpg"></ion-img>
        <ion-item color="primary">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>Opciones de estudio</ion-label>
        </ion-item>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let opcion of datos_estudios" (click)="onCarrera(opcion)">
                    <ion-label>{{opcion.name}}</ion-label>
                    <ion-checkbox [color]="opcion.color" [(ngModel)]="opcion.selected"></ion-checkbox>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    </ion-col>
    <ion-col size-lg="3" size-sm="6" sixe-xs=12>
    <ion-card>
        <ion-img src="./assets/img/color.jpg"></ion-img>
        <ion-item color="primary">
            <ion-icon slot="end" name="analytics-outline"></ion-icon>
            <ion-label>Datos personales</ion-label>
        </ion-item>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Fecha de Nacimiento</ion-label>
                    <ion-datetime placeholder="yyyy-mm-dd" displayFormat="YYYY MM DD" min="1950-01-01"
                        max="2021-01-01" cancelText="Cancelar" doneText="Listo"></ion-datetime>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    </ion-col>
    </ion-row>
</ion-grid>
</ion-content>